.create__post {
  text-align: center;
}

.create__post h2 {
  font-size: 2.2em;
}

.create__post p {
  color: #aaa;
  margin-bottom: 2em;
}

.create__post img {
  max-width: 100%;
  height: auto;
  max-height: 200px; /* Defina a altura máxima desejada */
}